@page "/projects/create"
@using Microsoft.EntityFrameworkCore
@using VSHCTwebApp.Components.Models
@inject IDbContextFactory<VSHCTwebApp.Data.VSHCTwebAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Добавить проект</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Project" OnValidSubmit="AddProject" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Название:</label> 
                <InputText id="title" @bind-Value="Project.Title" class="form-control" /> 
                <ValidationMessage For="() => Project.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Описание:</label> 
                <InputText id="description" @bind-Value="Project.Description" class="form-control" /> 
                <ValidationMessage For="() => Project.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">Кем создано:</label> 
                <InputText id="createdby" @bind-Value="Project.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Project.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="confermedby" class="form-label">Кем подтверждено:</label> 
                <InputText id="confermedby" @bind-Value="Project.ConfermedBy" class="form-control" /> 
                <ValidationMessage For="() => Project.ConfermedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Добавить проект</button>
        </EditForm>
    </div>
</div>

<div>
    <a> </a>
    <a href="/projects">Вернуться</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Project Project { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddProject()
    {
        using var context = DbFactory.CreateDbContext();
        context.Project.Add(Project);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/projects");
    }
}
